<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header class="headerArea" id="headerAreaId">
    <div class="left">
        <div class="logoArea">
            <img class="logo" src="/img/logo.png" alt="로고">
        </div>
        <div class="textAndAlarm">
            <div class="textArea">
                <input class="textBox" type="text" placeholder="검색어를 입력하세요.">
                <button class="btn"><img src="/img/search.png" alt="검색사진"></button>
            </div>
            <div class="alarm">
                <button class="alarmCount">1</button>
                <button class="alarmBtn"><img src="/img/alarm.png" alt="종"></button>
            </div>
        </div>
        <div>
            <div>
                <p>이번주 로또 번호</p>
            </div>
            <div class="lotto-wrapper">
                <span class="lotto-ball yellow">7</span>
                <span class="lotto-ball blue">20</span>
                <span class="lotto-ball red">25</span>
                <span class="lotto-ball gray">30</span>
                <span class="lotto-ball green">41</span>
                <span class="lotto-ball red">23</span>
                <span class="lotto-ball yellow">5</span>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="rightNav">
            <span class="shop">복권 판매점</span>
            <span class="bestShop">명당 자리</span>
        </div>
    </div>
</header>

<script src="/js/header.js"></script>
</body>
</html>