body {
    margin: 0;
    display: block; /* 중앙 정렬 제거 */
}

.wrapper {
    height: calc(100vh - 15vh); /* 헤더 높이만큼 빼기 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigContainer{
    margin: auto;
    border: 1px solid #D9D9D9;
    width: 400px;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수평 중앙 */
    align-items: center;
}
.idPwdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.idPwdBox{
    border:none;
    border-bottom: 1px solid #C2C2C2;
    height: 5vh;
    width: 80%;
    padding-left: 10px;
}
.loginBtnContainer{
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginBtn{
    width: 30%;
    height: 40%;
    background-color:#3B3B3B;
    color: white;
}
.btnPack{
    display: flex;
    gap: 10px;
}
.btnStyle{
    background-color: white;
    border: none;
    cursor: pointer;
    color: #C2C2C2;
}
.boundary{
    color: #C2C2C2;
}